*

!assets/css
!assets/js
!assets/static
!assets/vendor
!assets/.babelrc
!assets/package.json
!assets/package-lock.json
!assets/webpack.config.js

!config
!lib
!priv
!test
!mix.exs
!mix.lock
!.formatter.exs
!.credo.exs
